.users_search {
  width: 100%;
  max-width: 600px;
  margin: 16px 0;

  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dbdbdb;

  padding: 0 16px;

  h2 {
    text-align: center;
  }
}

.users_list {
  width: 100%;

  padding: 0;

  &_card {
    display: flex;

    margin-bottom: 16px;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;

    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;

    .user_link {
      flex: 0 99 auto;

      display: flex;
      align-items: center;
      overflow: hidden;

      .link_login {
        flex: 0 99 auto;
        text-overflow: ellipsis;

        max-width: calc(100% - 66px);

        .ref {
          display: block;
          text-decoration: none;
          color: black;
          font-weight: 600;
        }
      }

      .avatar {
        flex: 1 0 auto;
        margin-right: 16px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .subscribe_btn {
      flex: 1 0 auto;

      margin: 0 0 0 16px;

      display: flex;
      justify-content: flex-end;

      .follow_btn {
        height: 35px;
        width: 100px;
        border-radius: 5px;

        border: 2px solid #4d88ed;
        color: whitesmoke;
        background: #4d88ed;

        outline: none;

        font-size: 14px;
        font-weight: 400;

        &.followed {
          color: black;
          border: 2px solid black;
          background: rgb(240, 240, 240);
        }

        &:hover {
          filter: drop-shadow(1px 1px 2px #131313);
          cursor: pointer;
        }
      }
    }
  }
}
