.users_search {
  width: 100%;
  max-width: 600px;
  margin: 16px 0;

  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dbdbdb;

  padding: 0 16px;
  font-size: 14px;

  h2 {
    text-align: center;
  }
}

.users_list {
  width: 100%;

  margin: 0;
  padding: 0;

  &_card {
    display: flex;
    height: 56px;

    margin-bottom: 16px;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #dbdbdb;

    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .link_login {
      flex: 0 99 auto;
      overflow: hidden;

      .ref {
        display: block;

        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        color: black;
        font-weight: 600;

        transition: 0.2s;

        &:hover {
          filter: drop-shadow(1px 1px 1px #131313);
        }
      }
    }

    .ref_avatar {
      width: 70px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      cursor: pointer;
    }

    .subscribe_btn {
      flex: 1 0;
      min-width: 132px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
