.modal_container {
  .small_modal_wrapper {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    h2 {
      margin-top: 20px;
      padding: 0;
    }

    .users_list {
      margin: auto 20px;

      .users_list_card {
        a:first-of-type {
          outline: none;

          &:focus-visible {
            .avatar {
              box-shadow: 0 1px 2px 1px rgba(51, 54, 56, 0.473);
            }
          }
        }
      }
    }
  }
}

.text {
  .new_text {
    width: 300px;
    height: 66px;
    display: block;

    resize: none;
    outline: 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;

    font-family: inherit;
    font-size: 14px;
    overflow: hidden;

    &:focus {
      border: 1px solid black;
    }
  }
}

.btns {
  height: 56px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .submit,
  .cancel {
    width: 80px;
    height: 30px;

    border-radius: 5px;

    outline: none;
    font-weight: 600;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(1px 1px 2px #131313);
      cursor: pointer;
    }

    transition: 0.2s;
  }

  img {
    height: 25px;
    width: 100%;
    filter: brightness(3);
  }

  .submit {
    margin: 0 0 0 4px;
    border: 2px solid #4d88ed;
    color: whitesmoke;
    background: #4d88ed;

    &:disabled {
      opacity: 0.3;
      color: #696969;
      border: 2px solid #888888;
      background: rgb(240, 240, 240);

      &:hover {
        filter: none;
        cursor: auto;
      }
    }
  }

  .cancel {
    margin: 0 4px 0 0;

    color: #696969;
    border: 2px solid #888888;
    background: rgb(240, 240, 240);
  }

  .disabled {
    opacity: 0.3;
    color: #696969;
    border: 2px solid #888888;
    background: rgb(240, 240, 240);

    &:hover {
      filter: none;
      cursor: auto;
    }
  }
}

.avatar_editing_form {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .editing_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 10px 0 8px;
    }

    .avatar {
      height: 180px;
      width: 180px;

      margin-bottom: 8px;
    }

    .edit_btns {
      display: flex;

      .upload,
      .delete {
        padding: 0;
        width: 60px;
        height: 25px;

        border: none;
        border-radius: 5px;

        font-weight: 500;
        font-size: 12px;

        outline: none;

        color: whitesmoke;

        &:hover,
        &:focus-visible {
          filter: drop-shadow(1px 1px 2px #131313);
          cursor: pointer;
        }

        &:disabled {
          opacity: 0.3;
          color: #696969;
          border: 2px solid #888888;
          background: rgb(240, 240, 240);

          &:hover,
          &:focus-visible {
            filter: none;
            cursor: auto;
          }
        }
      }

      .upload {
        margin: 0 0 10px 4px;
        background: #4d88ed;
        border: 2px solid #4d88ed;

        img {
          height: 20px;
          width: 100%;
          filter: brightness(3);
        }
      }

      .delete {
        margin: 0 4px 10px 0;
        background: rgb(237, 73, 86);
        border: 2px solid rgb(237, 73, 86);
      }
    }
  }

  .avatar_message {
    max-width: 260px;
    min-height: 32px;
    text-align: center;
    font-size: 12px;
    transition: 0.3s;
    font-weight: 500;

    &.error {
      color: rgb(237, 73, 86);
    }
  }

  .btns {
    margin: 10px 0 20px;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

#avatar_input {
  display: none;
}
