.modal_container .small_modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .modal_container .small_modal_wrapper {
    border-radius: 0;
  }
}
.modal_container .small_modal_wrapper h2 {
  margin: 20px 0 10px;
  padding: 0;
}
@media (max-width: 600px) {
  .modal_container .small_modal_wrapper h2 {
    margin: 10px 0;
  }
}
.modal_container .small_modal_wrapper .users_list {
  max-width: 80vw;
  margin: 0 20px 10px;
  width: auto;
}
@media (max-width: 600px) {
  .modal_container .small_modal_wrapper .users_list {
    border-top: none;
  }
}
.modal_container .small_modal_wrapper .users_list .users_list_card {
  margin: 0;
  border: none;
  font-size: 14px;
}
.modal_container .small_modal_wrapper .users_list .users_list_card a:first-of-type {
  outline: none;
}
.modal_container .small_modal_wrapper .users_list .users_list_card a:first-of-type:focus-visible .avatar {
  box-shadow: 1px 1px 2px 2px rgba(51, 54, 56, 0.473);
}
.modal_container .small_modal_wrapper .users_list .users_list_card .follow_btn {
  margin: 0 8px;
}

.text .new_text {
  width: 300px;
  height: 66px;
  display: block;
  margin: 0 16px;
  resize: none;
  outline: 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-family: inherit;
  font-size: 14px;
  overflow: hidden;
}
.text .new_text:focus {
  background-color: #f0f0f0;
  filter: drop-shadow(1px 2px 2px #131313);
}

.btns {
  height: 56px;
  margin: 0 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btns .submit,
.btns .cancel {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  transition: 0.2s;
}
.btns .submit:hover, .btns .submit:focus-visible,
.btns .cancel:hover,
.btns .cancel:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
  cursor: pointer;
}
.btns img {
  height: 25px;
  width: 100%;
  filter: brightness(3);
}
.btns .submit {
  margin: 0 0 0 4px;
  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
}
.btns .submit:disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.btns .submit:disabled:hover {
  filter: none;
  cursor: auto;
}
.btns .cancel {
  margin: 0 4px 0 0;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.btns .disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.btns .disabled:hover {
  filter: none;
  cursor: auto;
}

.avatar_editing_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar_editing_form .editing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar_editing_form .editing_container h3 {
  margin: 10px 0 8px;
}
.avatar_editing_form .editing_container .avatar {
  height: 180px;
  width: 180px;
  margin-bottom: 8px;
}
.avatar_editing_form .editing_container .edit_btns {
  display: flex;
}
.avatar_editing_form .editing_container .edit_btns .upload,
.avatar_editing_form .editing_container .edit_btns .delete {
  padding: 0;
  width: 60px;
  height: 23px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  outline: none;
  color: whitesmoke;
  transition: 0.2s;
}
.avatar_editing_form .editing_container .edit_btns .upload:hover, .avatar_editing_form .editing_container .edit_btns .upload:focus-visible,
.avatar_editing_form .editing_container .edit_btns .delete:hover,
.avatar_editing_form .editing_container .edit_btns .delete:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
  cursor: pointer;
}
.avatar_editing_form .editing_container .edit_btns .upload:disabled,
.avatar_editing_form .editing_container .edit_btns .delete:disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.avatar_editing_form .editing_container .edit_btns .upload:disabled:hover, .avatar_editing_form .editing_container .edit_btns .upload:disabled:focus-visible,
.avatar_editing_form .editing_container .edit_btns .delete:disabled:hover,
.avatar_editing_form .editing_container .edit_btns .delete:disabled:focus-visible {
  filter: none;
  cursor: auto;
}
.avatar_editing_form .editing_container .edit_btns .upload {
  margin: 0 0 10px 4px;
  background: #4d88ed;
  border: 2px solid #4d88ed;
}
.avatar_editing_form .editing_container .edit_btns .upload img {
  height: 20px;
  width: 100%;
  filter: brightness(3);
}
.avatar_editing_form .editing_container .edit_btns .delete {
  margin: 0 4px 10px 0;
  background: #ed4956;
  border: 2px solid #ed4956;
}
.avatar_editing_form .avatar_message {
  max-width: 260px;
  min-height: 32px;
  text-align: center;
  font-size: 12px;
  transition: 0.3s;
  font-weight: 500;
}
.avatar_editing_form .avatar_message.error {
  color: #ed4956;
}
.avatar_editing_form .btns {
  margin: 10px 0 20px;
  justify-content: center;
  width: 100%;
  height: auto;
}

#avatar_input {
  display: none;
}

.post_edit_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.post_edit_form .message {
  flex: unset;
  display: block;
  text-align: center;
  font-size: 12px;
  transition: 0.3s;
  font-weight: 500;
}
.post_edit_form .message.error {
  color: #ed4956;
}
.post_edit_form h3 {
  margin: 0 0 8px;
}
.post_edit_form .editing_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.post_edit_form .editing_container .preview_image_container {
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  max-width: 900px;
}
.post_edit_form .editing_container .preview_image_container .message {
  position: absolute;
  bottom: 8px;
  width: 100%;
}
.post_edit_form .editing_container .preview_image_container.no_preview {
  width: 700px;
  height: 400px;
  max-width: calc(100vw - 57px);
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
}
.post_edit_form .editing_container .preview_image_container.no_preview .preview_image {
  display: none;
}
.post_edit_form .editing_container .preview_image_container.no_preview .image_lbl_container {
  opacity: 1;
}
.post_edit_form .editing_container .preview_image_container.no_preview .image_lbl_container .loading {
  filter: none;
}
.post_edit_form .editing_container .preview_image_container.no_preview .image_lbl_container .image_lbl svg {
  fill: #dbdbdb;
}
.post_edit_form .editing_container .preview_image_container .preview_image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  transition: opacity 0.3s linear;
  animation: appear 0.2s ease-in-out;
}
.post_edit_form .editing_container .preview_image_container .delete,
.post_edit_form .editing_container .preview_image_container .edit {
  position: absolute;
  top: 8px;
  padding: 0;
  width: 60px;
  height: 23px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  outline: none;
  color: whitesmoke;
  transition: 0.2s;
}
.post_edit_form .editing_container .preview_image_container .delete:hover, .post_edit_form .editing_container .preview_image_container .delete:focus-visible,
.post_edit_form .editing_container .preview_image_container .edit:hover,
.post_edit_form .editing_container .preview_image_container .edit:focus-visible {
  filter: drop-shadow(1px 2px 2px #ffffff);
  cursor: pointer;
}
.post_edit_form .editing_container .preview_image_container .delete:disabled,
.post_edit_form .editing_container .preview_image_container .edit:disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.post_edit_form .editing_container .preview_image_container .delete:disabled:hover, .post_edit_form .editing_container .preview_image_container .delete:disabled:focus-visible,
.post_edit_form .editing_container .preview_image_container .edit:disabled:hover,
.post_edit_form .editing_container .preview_image_container .edit:disabled:focus-visible {
  filter: none;
  cursor: auto;
}
.post_edit_form .editing_container .preview_image_container .edit {
  right: 76px;
  background: #4d88ed;
  border: 2px solid #4d88ed;
}
.post_edit_form .editing_container .preview_image_container .delete {
  right: 8px;
  background: #ed4956;
  border: 2px solid #ed4956;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s 0.3s;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container:hover, .post_edit_form .editing_container .preview_image_container .image_lbl_container:focus-within {
  opacity: 1;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container .image_lbl {
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  outline: 0;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container .image_lbl:hover, .post_edit_form .editing_container .preview_image_container .image_lbl_container .image_lbl:focus-visible {
  filter: drop-shadow(1px 2px 3px #131313);
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container .image_lbl svg {
  height: 100px;
  width: auto;
  fill: whitesmoke;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container .image_lbl.hidden {
  display: none;
}
.post_edit_form .editing_container .preview_image_container .image_lbl_container .loading {
  height: 60px;
  width: auto;
  filter: brightness(3);
}
.post_edit_form .editing_container #image_input {
  display: none;
}
.post_edit_form .editing_container .text_lbl {
  padding: 8px 16px;
  display: flex;
}
.post_edit_form .editing_container .text_lbl:focus-within .user_login {
  filter: drop-shadow(1px 2px 2px #131313);
}
.post_edit_form .editing_container .text_lbl .user_login {
  margin: 5px 3px 0 0;
  font-size: 14px;
  font-weight: 600;
}
.post_edit_form .editing_container .text_lbl .post_title {
  flex: 0 1 513px;
  height: 29px;
  display: block;
  padding: 5px;
  overflow: hidden;
  resize: none;
  outline: 0;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  transition: 0.2s;
}
.post_edit_form .editing_container .text_lbl .post_title:focus {
  background-color: #f0f0f0;
  filter: drop-shadow(1px 2px 2px #131313);
  border-radius: 3px;
}
.post_edit_form > .message {
  min-height: 12px;
}
.post_edit_form .btns {
  margin: 0 25px;
  padding-bottom: 16px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=dialogues.css.map */