.profile_settings_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 600px) {
  .profile_settings_wrapper {
    flex-direction: column;
  }
}

.settings_wrapper {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
@media (max-width: 600px) {
  .settings_wrapper {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0;
  }
}
.settings_wrapper h2 {
  margin: 0;
  text-align: center;
  padding: 30px 0 5px;
}
.settings_wrapper .settings_container {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 750px) {
  .settings_wrapper .settings_container {
    flex-direction: column;
    align-items: center;
  }
}
.settings_wrapper .settings_container .avatar_container {
  padding: 30px 25px 30px 35px;
  display: flex;
  justify-content: center;
}
@media (max-width: 750px) {
  .settings_wrapper .settings_container .avatar_container {
    padding: 15px 0;
  }
}
.settings_wrapper .settings_container .avatar_container > .avatar {
  position: relative;
}
.settings_wrapper .settings_container .avatar_container > .avatar:hover, .settings_wrapper .settings_container .avatar_container > .avatar:focus-within {
  box-shadow: 1px 1px 2px 2px rgba(51, 54, 56, 0.473);
  cursor: pointer;
}
.settings_wrapper .settings_container .avatar_container > .avatar:hover .change_avatar_btn, .settings_wrapper .settings_container .avatar_container > .avatar:focus-within .change_avatar_btn {
  background: black;
  box-shadow: 0px 0px 8px 4px rgba(208, 208, 208, 0.45) inset;
}
.settings_wrapper .settings_container .avatar_container > .avatar .change_avatar_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  color: whitesmoke;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
  transition: 0.2s;
}
.settings_wrapper .settings_container .avatar_container > .avatar .change_avatar_btn:hover, .settings_wrapper .settings_container .avatar_container > .avatar .change_avatar_btn:focus-visible {
  cursor: pointer;
  background: black;
  box-shadow: 0px 0px 8px 4px rgba(208, 208, 208, 0.45) inset;
}
.settings_wrapper .settings_container .user_data_container {
  padding: 30px 30px 30px 5px;
  overflow: hidden;
}
@media (max-width: 750px) {
  .settings_wrapper .settings_container .user_data_container {
    padding: 30px;
  }
}
.settings_wrapper .settings_container .user_data_container .data_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.settings_wrapper .settings_container .user_data_container .data_form .validated {
  position: absolute;
  top: 0;
  left: 281px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #009100;
  animation: appear 0.3s ease-in-out;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.security_wrapper {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .security_wrapper {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0;
  }
}
.security_wrapper h2 {
  margin: 0;
  padding: 0 0 15px;
}
.security_wrapper .edit_pass,
.security_wrapper .delete_user {
  width: 365px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 5px 10px;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
}
.security_wrapper .edit_pass .success,
.security_wrapper .delete_user .success {
  width: 100%;
  opacity: 1;
  height: 40px;
  line-height: 45px;
  text-align: right;
  color: #009100;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
}
.security_wrapper .edit_pass .success .validated,
.security_wrapper .delete_user .success .validated {
  font-size: 18px;
  font-weight: 700;
}
.security_wrapper .edit_pass .success.hidden,
.security_wrapper .delete_user .success.hidden {
  opacity: 0;
  height: 0;
}
.security_wrapper .delete_user {
  padding: 5px 5px 0 0;
}
.security_wrapper .password_container {
  width: max-content;
}
.security_wrapper .password_container .password_form {
  padding-right: 5px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  transition: 0.5s;
}
.security_wrapper .password_container .password_form > label:first-child {
  margin-top: 10px;
}
.security_wrapper .password_container .password_form.hidden {
  height: 0;
}
.security_wrapper .password_container .password_form .data_label {
  width: 360px;
}
.security_wrapper .password_container .password_form .btns {
  width: 100%;
  padding-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.security_wrapper .password_container .password_form .btns .submit_btn {
  width: 138px;
}
.security_wrapper .password_container .password_form .message {
  flex: 0 0 213px;
}
.security_wrapper .password_container .password_form > .message {
  flex: auto;
  margin-top: 5px;
  width: 213px;
}

.data_label {
  position: relative;
  min-height: 46px;
  width: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
}
.data_label .data_input {
  margin: 0 0 0 8px;
  width: 215px;
  height: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  align-items: center;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.data_label .data_input.valid {
  padding-right: 27px;
}

.message {
  flex: 0 0 360px;
  color: #ed4956;
  font-size: 12px;
  transition: 0.3s;
  font-weight: 500;
  line-height: 1;
}

.change_btn,
.cancel_btn,
.submit_btn,
.show_btn {
  width: 138px;
  height: 30px;
  margin: 0 0 0 8px;
  border-radius: 5px;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
}
.change_btn:hover, .change_btn:focus-visible,
.cancel_btn:hover,
.cancel_btn:focus-visible,
.submit_btn:hover,
.submit_btn:focus-visible,
.show_btn:hover,
.show_btn:focus-visible {
  filter: drop-shadow(1px 1px 2px #131313);
  cursor: pointer;
}
.change_btn:disabled,
.cancel_btn:disabled,
.submit_btn:disabled,
.show_btn:disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.change_btn:disabled:hover, .change_btn:disabled:focus-visible,
.cancel_btn:disabled:hover,
.cancel_btn:disabled:focus-visible,
.submit_btn:disabled:hover,
.submit_btn:disabled:focus-visible,
.show_btn:disabled:hover,
.show_btn:disabled:focus-visible {
  filter: none;
  cursor: auto;
}

.cancel_btn {
  width: 65px;
}

.show_btn {
  width: 69px;
}

.submit_btn {
  width: 65px;
  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
}
.submit_btn img {
  height: 25px;
  filter: brightness(3);
}

.delete_user_btns {
  height: 50px;
  width: 365px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  font-weight: 500;
  line-height: 30px;
  transition: 0.3s;
}
.delete_user_btns.hidden {
  height: 0;
}
.delete_user_btns .submit_btn {
  background-color: #ed4956;
  border-color: #ed4956;
}
.delete_user_btns .btns_container {
  display: flex;
  align-items: flex-start;
  padding: 15px 5px 0 0;
}/*# sourceMappingURL=profileSettings.css.map */