@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.user_header {
  margin: 20px 0 30px;
  width: max-content;
  max-width: 100vw;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  padding: 20px;
  animation: appear 0.2s ease-in-out;
}
@media (min-width: 600px) {
  .user_header {
    margin-left: calc(100vw - 100%);
  }
}
@media (max-width: 600px) {
  .user_header {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0;
    border-radius: 0;
    border: none;
    border-top: 6px solid #dbdbdb;
  }
}
.user_header .big.avatar {
  flex: 0 0 auto;
  margin: 0 25px 0 15px;
}
@media (max-width: 750px) {
  .user_header .big.avatar {
    margin: 0 0 0 10px;
  }
}
@media (max-width: 600px) {
  .user_header .big.avatar {
    align-self: top;
    height: 100px;
    width: 100px;
  }
}
.user_header .login_subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .user_header .login_subscribe {
    min-width: 60vw;
  }
  .user_header .login_subscribe .big_btn {
    margin: 4px auto;
    font-size: 14px;
    width: 100px;
  }
}
.user_header .login_subscribe .login {
  margin: 4px 16px;
  font-weight: 400;
  font-size: 26px;
}
@media (max-width: 600px) {
  .user_header .login_subscribe .login {
    font-size: 20px;
  }
}
.user_header .user_data {
  width: 100%;
  margin: 0;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}
@media (max-width: 600px) {
  .user_header .user_data {
    font-size: 17px;
  }
}
.user_header .user_data li {
  display: block;
  list-style-type: none;
}
.user_header .user_data li:not(:last-of-type) {
  margin: 0 20px 0 0;
}
.user_header .user_data .followers,
.user_header .user_data .followings {
  transition: 0.2s;
  outline: none;
}
.user_header .user_data .followers:hover, .user_header .user_data .followers:focus-visible,
.user_header .user_data .followings:hover,
.user_header .user_data .followings:focus-visible {
  filter: drop-shadow(1px 1px 1px #131313);
  cursor: pointer;
}
.user_header .user_data .data {
  font-weight: 700;
}
.user_header .info {
  margin: 0 16px 0;
  line-height: 1.5;
  text-align: left;
}
@media (max-width: 600px) {
  .user_header .info {
    margin: 10px 0 0 20px;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
}
.user_header .name {
  margin: 5px 0;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
@media (max-width: 600px) {
  .user_header .name {
    margin: 0 16px 0 0;
    font-size: 16px;
  }
}
.user_header .email {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}
@media (max-width: 600px) {
  .user_header .email {
    margin: 0;
  }
}

a {
  outline: none;
}
a:focus-visible .interactions_container {
  opacity: 1;
}

.interactions_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.interactions_container:hover {
  opacity: 1;
}
.interactions_container .interactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  opacity: 0.95;
}
.interactions_container .interactions span {
  height: 30px;
  display: flex;
  align-items: center;
}
.interactions_container .interactions span:first-of-type {
  margin-right: 20px;
}
.interactions_container .interactions .like_btn,
.interactions_container .interactions .comment_btn_filled {
  width: 16px;
  height: 16px;
  margin: 3px 5px 0 0;
  fill: whitesmoke;
}

.user_posts {
  max-width: 902px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-bottom: 30px;
  animation: appear 0.2s ease-in-out;
}
@media (min-width: 750px) {
  .user_posts {
    margin-left: calc(100vw - 100%);
  }
}
@media (min-width: 902px) {
  .user_posts {
    padding: 27px 27px 0;
  }
}
@media (max-width: 902px) {
  .user_posts {
    padding: 3vw 3vw 0;
  }
}
@media (max-width: 750px) {
  .user_posts {
    flex: 1 0 auto;
    min-width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
  }
}
@media (max-width: 600px) {
  .user_posts {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    border-top: 6px solid #dbdbdb;
    background-color: #dbdbdb;
    border-bottom: 20px solid #dbdbdb;
  }
}
.user_posts.empty {
  width: 250px;
  border: 1px solid #dbdbdb;
  padding: 0;
  margin: 50px 0;
}
@media (max-width: 600px) {
  .user_posts.empty {
    margin: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    border-top: 6px solid #dbdbdb;
    border-bottom: 20px solid #dbdbdb;
    padding: 50px 0;
  }
}
.user_posts.empty .posts_wrapper {
  padding: 0;
}
.user_posts .posts_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
@media (min-width: 902px) {
  .user_posts .posts_wrapper {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .user_posts .posts_wrapper {
    width: 100%;
    padding: 0;
  }
}
.user_posts .posts_wrapper .posts_group {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
}
.user_posts .posts_wrapper .posts_group a {
  margin-bottom: 3vw;
}
.user_posts .posts_wrapper .posts_group a:not(:last-of-type) {
  margin-right: 0;
}
@media (min-width: 902px) {
  .user_posts .posts_wrapper .posts_group a:not(:last-of-type) {
    margin-right: 27px;
  }
}
@media (max-width: 902px) {
  .user_posts .posts_wrapper .posts_group a:not(:last-of-type) {
    margin-right: 3vw;
  }
}
@media (max-width: 750px) {
  .user_posts .posts_wrapper .posts_group a:not(:last-of-type) {
    margin-right: 0;
  }
}
@media (min-width: 902px) {
  .user_posts .posts_wrapper .posts_group a {
    margin: 0 0 27px;
  }
}
@media (max-width: 750px) {
  .user_posts .posts_wrapper .posts_group a {
    margin: 0;
  }
}
.user_posts .posts_wrapper .posts_group a .user_post {
  position: relative;
  width: calc(84vw / 3);
  height: calc(84vw / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 902px) {
  .user_posts .posts_wrapper .posts_group a .user_post {
    width: 252px;
    height: 252px;
  }
}
@media (max-width: 750px) {
  .user_posts .posts_wrapper .posts_group a .user_post {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }
}
.user_posts .posts_wrapper .posts_group a .user_post.loading {
  background-color: #949494;
  animation: loadingUserImg 1.5s ease-in-out infinite running;
}
@keyframes loadingUserImg {
  0% {
    background-color: #949494;
  }
  50.0% {
    background-color: #eeeeee;
  }
  100.0% {
    background-color: #949494;
  }
}
.user_posts .posts_wrapper .posts_group a .user_post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}/*# sourceMappingURL=user.css.map */