@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal_post {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 14px;
}
@media (max-width: 700px) {
  .modal_post {
    flex-direction: column;
  }
}
.modal_post .loading_big {
  margin: 0;
  height: 40vw;
  width: 60vw;
}
.modal_post .loading_big img {
  height: 20%;
  width: auto;
}
.modal_post .no_post_found {
  margin: 100px;
  font-size: 30px;
}
.modal_post_wrapper {
  max-width: 1200px;
  overflow: hidden;
  border-radius: 5px;
  animation: appear 0.2s ease-in-out;
}
.modal_post_header {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 56px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 4px;
  padding: 6px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 700px) {
  .modal_post_header {
    position: relative;
    top: 0;
    right: auto;
    width: 100%;
    border: none;
    margin: 0;
    padding: 6px 16px;
  }
}
.modal_post_header .user_ref_container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal_post_header .user_ref_container .user_ref {
  margin-right: 8px;
  flex-grow: 0;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-overflow: ellipsis;
}
.modal_post_header .user_ref_container .user_ref:first-of-type {
  width: 32px;
}
.modal_post_header .user_ref_container .user_ref:first-of-type:focus-visible .avatar {
  box-shadow: 1px 1px 2px 2px rgba(51, 54, 56, 0.473);
}
.modal_post_header .user_ref_container .user_ref:nth-of-type(2) {
  overflow: hidden;
  transition: 0.2s;
}
.modal_post_header .user_ref_container .user_ref:nth-of-type(2):hover, .modal_post_header .user_ref_container .user_ref:nth-of-type(2):focus-visible {
  filter: drop-shadow(1px 2px 1px #131313);
}
.modal_post_header .user_ref_container .user_ref .avatar.small {
  margin-right: 12px;
}
.modal_post_header .subscribe_btn {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
}
.modal_post_header .settings_toggle {
  margin-right: 8px;
  transition: 0.2s;
}
.modal_post_header .settings_toggle:hover, .modal_post_header .settings_toggle:focus-visible {
  outline: none;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px #131313);
}
.modal_post_header .settings_toggle svg {
  display: block;
  height: 22px;
  width: auto;
  fill: #7c7c7c;
}
.modal_post_image {
  width: calc(100% - 300px);
  height: 100%;
  margin-right: 300px;
  min-height: 300px;
  min-width: 300px;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 700px) {
  .modal_post_image {
    width: 100%;
    margin: 0;
  }
}
.modal_post_image.loading {
  background-color: #949494;
  min-width: calc(100% - 300px);
  min-height: 100%;
  animation: loadingModalImg 1.5s ease-in-out infinite running;
}
@media (max-width: 700px) {
  .modal_post_image.loading {
    min-width: 100%;
    min-height: 60%;
  }
}
@keyframes loadingModalImg {
  0% {
    background-color: #949494;
  }
  50.0% {
    background-color: #eeeeee;
  }
  100.0% {
    background-color: #949494;
  }
}
.modal_post_image img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.3s;
}
.modal_post_image .like_heart_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.modal_post_image .like_heart_container span {
  opacity: 0;
}
.modal_post_image .like_heart_container > .liked {
  animation: like-heart-animation 1.5s ease-in-out;
}
@keyframes like-heart-animation {
  0%, to {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.95;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%, 80% {
    opacity: 0.95;
    transform: scale(1);
  }
}
.modal_post_image .like_heart_container > .unliked {
  animation: unlike-heart-animation 1.5s ease-in-out;
}
@keyframes unlike-heart-animation {
  0%, to {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.95;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%, 80% {
    opacity: 0.95;
    transform: scale(1);
  }
}
.modal_post_image .like_heart_container .like_btn {
  width: 128px;
  height: 128px;
  animation: appear 0.2s ease-in-out;
}
.modal_post_image .like_heart_container .like_btn .liked {
  fill: white;
}
.modal_post_image .like_heart_container .like_btn .not_liked {
  fill: white;
}
.modal_post .comments_likes_container {
  position: absolute;
  width: 300px;
  right: 0;
  bottom: 0;
  top: 61px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
@media (max-width: 700px) {
  .modal_post .comments_likes_container {
    top: 0;
    position: relative;
    width: 100%;
  }
}
.modal_post .comments_likes_container .comments_container {
  animation: appear 0.2s ease-in-out;
  flex-grow: 1;
  width: 100%;
  box-sizing: content-box;
  overflow: auto;
  padding: 6px 6px 6px 12px;
}
@media (max-width: 700px) {
  .modal_post .comments_likes_container .comments_container {
    margin-top: 35px;
    padding: 8px 22px 12px 22px;
  }
}
.modal_post .comments_likes_container .modal_post_btns {
  border-top: 1px solid #dbdbdb;
  margin-top: 4px;
  padding: 6px 12px;
  display: flex;
  justify-content: flex-start;
  animation: appear 0.2s ease-in-out;
}
@media (max-width: 700px) {
  .modal_post .comments_likes_container .modal_post_btns {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 26px;
  }
}
.modal_post .comments_likes_container .modal_post_btns .like_btn_container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  animation: appear 0.2s ease-in-out;
  outline: none;
}
.modal_post .comments_likes_container .modal_post_btns .like_btn_container:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
}
.modal_post .comments_likes_container .modal_post_btns .like_btn_container.liked {
  animation: like-button-animation 0.45s ease-in-out;
  transform: scale(1);
}
.modal_post .comments_likes_container .modal_post_btns .like_btn_container.like_btn_container.unliked {
  animation: unlike-button-animation 0.45s ease-in-out;
  transform: scale(1);
}
@keyframes like-button-animation {
  0%, to {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.95);
  }
}
@keyframes unlike-button-animation {
  0%, to {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.95);
  }
}
.modal_post .comments_likes_container .modal_post_btns .like_btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.modal_post .comments_likes_container .modal_post_btns .like_btn:hover {
  filter: drop-shadow(1px 2px 1px #131313);
  transition: 0.2s;
}
.modal_post .comments_likes_container .modal_post_btns .like_btn .liked {
  fill: #ed4956;
}
.modal_post .comments_likes_container .modal_post_btns .post_likes_info {
  margin-top: 2px;
}
.modal_post .comments_likes_container .modal_post_btns .post_likes_info a,
.modal_post .comments_likes_container .modal_post_btns .post_likes_info .likes_count_btn {
  text-decoration: none;
  color: black;
  font-weight: 600;
  outline: none;
  transition: 0.2s;
  animation: appear 0.2s ease-in-out;
}
.modal_post .comments_likes_container .modal_post_btns .post_likes_info a:hover, .modal_post .comments_likes_container .modal_post_btns .post_likes_info a:focus-visible,
.modal_post .comments_likes_container .modal_post_btns .post_likes_info .likes_count_btn:hover,
.modal_post .comments_likes_container .modal_post_btns .post_likes_info .likes_count_btn:focus-visible {
  filter: drop-shadow(1px 2px 1px #131313);
  cursor: pointer;
}
.modal_post .add_comment_container {
  min-height: 56px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
@media (max-width: 700px) {
  .modal_post .add_comment_container {
    padding: 8px 22px;
  }
}
.modal_post .add_comment_container .add_comment_form {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal_post .add_comment_container .add_comment_form .text_wrapper {
  max-height: 100%;
  width: 300px;
  padding-top: 8px;
  box-sizing: content-box;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 700px) {
  .modal_post .add_comment_container .add_comment_form .text_wrapper {
    width: calc(100% - 64px);
    padding: 0;
  }
}
.modal_post .add_comment_container .add_comment_form .new_comment_text {
  width: 100%;
  height: 22px;
  display: block;
  resize: none;
  outline: 0;
  border: 0;
  padding: 0 82px 0 0;
  font-family: inherit;
  font-size: 14px;
  overflow: hidden;
}
@media (max-width: 700px) {
  .modal_post .add_comment_container .add_comment_form .new_comment_text {
    padding: 0;
  }
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn {
  width: 55px;
  height: 30px;
  margin: 0 0 0 8px;
  border-radius: 5px;
  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
  outline: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 99;
  transition: 0.2s;
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn:hover, .modal_post .add_comment_container .add_comment_form .add_comment_btn:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
  cursor: pointer;
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn.disabled {
  opacity: 0.3;
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn.disabled:hover {
  filter: none;
  cursor: auto;
}
.modal_post .add_comment_container .add_comment_form .add_comment_btn img {
  height: 25px;
  width: 100%;
  filter: brightness(3);
}
.modal_post .comment {
  max-width: 277px;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .modal_post .comment {
    max-width: calc(100% - 45px);
  }
}
.modal_post .comment .comment_text {
  flex: 0 1 calc(100% - 30px);
}
.modal_post .comment .comment_info {
  display: flex;
  align-items: flex-end;
}
.modal_post .comment .comment_status {
  flex-basis: 100%;
  font-size: 10px;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=modalPost.css.map */