*:before,
*:after,
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}

input,
label,
button,
textarea {
  font-family: inherit;
}

.scroll_hidden {
  overflow-y: hidden;
}

button {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  width: 100%;
  min-width: 350px;
}

.loading_big {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.loading_big img {
  height: 100px;
  width: 100px;
}

.main {
  width: max-content;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  background-color: #fafafa;
}

.main_header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 98;
  padding: 0 16px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #4d88ed;
  box-shadow: 0 2px 2px 0 rgba(127, 132, 135, 0.2);
}
.main_header .logo {
  flex: 1 999 0%;
}
.main_header .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}
.main_header .logo img {
  filter: drop-shadow(1px 1px 1px #131313);
  margin-right: 5px;
  width: 40px;
  transition: 0.2s;
}
.main_header .logo img:hover {
  filter: drop-shadow(1px 1px 2px #131313);
}
.main_header .logo span {
  padding-bottom: 2px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
  transition: 0.2s;
}
.main_header .logo span:hover {
  filter: drop-shadow(1px 1px 1px #131313);
}
.main_header .users_search_input_container {
  flex: 0 1 auto;
  position: relative;
  width: 220px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 750px) {
  .main_header .users_search_input_container {
    transition: 0.5s;
    animation: slideout 0.5s;
  }
  @keyframes slideout {
    from {
      width: 0;
    }
    to {
      width: 220px;
    }
  }
}
.main_header .users_search_input_container span {
  position: absolute;
  left: 11px;
  top: 14px;
}
.main_header .users_search_input_container span svg {
  fill: grey;
  width: 13px;
}
.main_header .users_search_input {
  padding: 3px 10px 5px 26px;
  height: 33px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.main_header .users_search_input:focus {
  box-shadow: 0 0 0 1px #505050;
}

@media (max-width: 750px) {
  .users_search_input:focus {
    border: darkgray;
  }
}
.header_navigation {
  flex: 1 999 0%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 750px) {
  .header_navigation {
    flex-grow: 0;
    margin-left: 16px;
  }
}
.header_navigation span {
  transition: 0.2s;
  margin-right: 16px;
  transition: 0.2s;
}
.header_navigation span:hover, .header_navigation span:focus {
  filter: drop-shadow(1px 1px 1px #131313);
  cursor: pointer;
}
.header_navigation a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
  transition: 0.2s;
}
.header_navigation a:focus {
  filter: drop-shadow(1px 1px 1px #131313);
}
.header_navigation .search_Btn {
  margin: 5px 13px 0 0;
}
.header_navigation .search_Btn svg {
  height: 25px;
  fill: whitesmoke;
}
@media (max-width: 750px) {
  .header_navigation .feed_btn {
    margin: 7px 12px 0 0;
  }
}
.header_navigation .feed_btn #home_icon {
  fill: whitesmoke;
  width: 29px;
}
.header_navigation .my_profile_btn {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  color: whitesmoke;
  text-decoration: none;
}
@media (max-width: 750px) {
  .header_navigation .my_profile_btn {
    margin: 7px 16px 0 0;
  }
}
.header_navigation .log_out_btn {
  margin: 7px 16px 0 0;
  transition: 0.2s;
}
.header_navigation .log_out_btn:hover {
  cursor: pointer;
}
.header_navigation .active {
  filter: drop-shadow(1px 1px 1px #131313);
}

.avatar {
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  transition: 0.2s;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar.big {
  height: 150px;
  width: 150px;
}
.avatar.small {
  width: 32px;
  height: 32px;
}
.avatar.small:hover, .avatar.small:focus {
  box-shadow: 0 1px 2px 1px rgba(51, 54, 56, 0.473);
}
.avatar.very_small {
  width: 24px;
  height: 24px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 300px;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal_window {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  transition: 0.8s;
}

.follow_btn {
  margin: 4px 16px;
  border-radius: 5px;
  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
  outline: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s;
}
.follow_btn.not_followed img {
  filter: brightness(3);
}
.follow_btn.medium_btn {
  height: 35px;
  width: 100px;
  font-size: 14px;
}
.follow_btn.medium_btn img {
  height: 30px;
  width: 100%;
}
.follow_btn.big_btn {
  height: 35px;
  width: 120px;
  font-size: 16px;
}
.follow_btn.followed {
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.follow_btn.small_btn {
  width: 95px;
  height: 30px;
  margin: 0;
}
.follow_btn.small_btn img {
  height: 25px;
  width: 100%;
}
.follow_btn:hover, .follow_btn:focus {
  filter: drop-shadow(1px 1px 2px #131313);
  cursor: pointer;
}

.settings_btn {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  color: #696969;
  border: 2px solid #888888;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s;
}
.settings_btn:hover, .settings_btn:focus {
  filter: drop-shadow(1px 1px 2px #131313);
  cursor: pointer;
}

.loading img {
  opacity: 0;
}

.comment_user_ref {
  margin: 0 2px 0 0;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.2s;
}
.comment_user_ref:hover, .comment_user_ref:focus {
  filter: drop-shadow(1px 1px 1px #131313);
}/*# sourceMappingURL=index.css.map */