*:before,
*:after,
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: auto;
}

.scroll_hidden {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100%;
  min-width: 350px;
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fafafa;
}

.main_header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 98;

  padding: 0 16px;
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  background-color: #4d88ed;
  box-shadow: 0 2px 2px 0 rgba(127, 132, 135, 0.2);

  .logo {
    flex: 1 999 0%;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
    }

    img {
      filter: drop-shadow(1px 1px 1px #131313);
      margin-right: 5px;
      width: 40px;
    }

    span {
      padding-bottom: 2px;
      text-decoration: none;
      color: whitesmoke;
      font-size: 22px;

      &:hover {
        filter: drop-shadow(1px 1px 1px #131313);
      }
    }
  }
  .users_search_input_container {
    flex: 0 1 auto;
    position: relative;
    width: 220px;
    height: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 750px) {
      transition: 0.5s;
      animation: slideout 0.5s;

      @keyframes slideout {
        from {
          width: 0;
        }
        to {
          width: 220px;
        }
      }
    }

    span {
      position: absolute;
      left: 12px;
      top: 14px;

      svg {
        fill: grey;
        width: 13px;
      }
    }
  }

  .users_search_input {
    padding: 5px 10px 3px 26px;
    height: 33px;

    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: 0;

    font-size: 14px;

    &:focus {
      filter: drop-shadow(0 0 1px #131313);
    }
  }
}

@media (max-width: 750px) {
  .users_search_input:focus {
    border: darkgray;
  }
}

.header_navigation {
  flex: 1 999 0%;
  height: 40px;

  @media (max-width: 750px) {
    flex-grow: 0;
    margin-left: 16px;
  }

  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    transition: 0.2s;
    margin-right: 16px;

    &:hover {
      filter: drop-shadow(1px 1px 1px #131313);
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;

    &:focus {
      filter: drop-shadow(1px 1px 1px #131313);
    }
  }

  .search_Btn {
    margin: 5px 13px 0 0;

    svg {
      height: 25px;
      fill: whitesmoke;
    }
  }

  .feed_btn {
    @media (max-width: 750px) {
      margin: 7px 12px 0 0;
    }
    #home_icon {
      fill: whitesmoke;
      width: 29px;
    }
  }

  .my_profile_btn {
    @media (max-width: 750px) {
      margin: 7px 16px 0 0;
    }
  }

  .log_out_btn {
    margin: 7px 16px 0 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.avatar {
  border-radius: 50%;

  display: flex;
  align-items: center;
  overflow: hidden;

  transition: 0.2s;

  img {
    width: 100%;
    height: auto;
  }

  &.small {
    width: 32px;
    height: 32px;

    &:hover {
      box-shadow: 0 1px 2px 1px rgba(51, 54, 56, 0.473);
    }
  }

  &.very_small {
    width: 24px;
    height: 24px;
  }
}

.follow_btn.medium_btn {
  height: 35px;
  min-width: 80px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 300px;
  height: 100vh;
  width: 100vw;

  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0 0 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal_window {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  background-color: white;
  border-radius: 3px;
}

.follow_btn {
  margin: 4px 16px;
  border-radius: 5px;

  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;

  outline: none;

  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &.medium_btn {
    height: 35px;
    width: 100px;

    font-size: 14px;
  }

  &.big_btn {
    height: 35px;
    width: 120px;

    font-size: 16px;
  }

  &.followed {
    color: black;
    border: 2px solid black;
    background: rgb(240, 240, 240);
  }

  &:hover {
    filter: drop-shadow(1px 1px 2px #131313);
    cursor: pointer;
  }
}

.settings_btn {
  height: 35px;
  width: 150px;
  border-radius: 5px;

  color: black;
  border: 2px solid black;

  outline: none;

  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    filter: drop-shadow(1px 1px 2px #131313);
    cursor: pointer;
  }
}
