*:before,
*:after,
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: auto;
}

input,
label,
button,
textarea {
  font-family: inherit;
}

h2,
h3 {
  text-align: center;
  font-weight: 600;
}

.scroll_hidden {
  overflow-y: hidden;
}

button {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100%;
  min-width: 350px;
}

.loading_big {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
  }
}

.main {
  width: max-content;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;

  padding-left: calc(100vw - 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: auto;

  background-color: #fafafa;

  animation: appear 0.2s ease-in-out;

  @media (min-width: 600px) {
    width: 100%;
    overflow-x: hidden;
  }

  @media (max-width: 600px) {
    padding-left: 0;
  }

  .empty {
    margin: 80px 0;
    width: 250px;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fff;

    padding: 0;

    animation: appear 0.2s ease-in-out;

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
      flex: 1 0 auto;

      border-radius: 0;
      border: none;

      padding: 80px 0;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_header {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 98;

  padding: 0 16px;
  display: flex;
  align-items: center;

  height: 50px;
  background-color: #4d88ed;
  box-shadow: 0 2px 2px 0 rgba(127, 132, 135, 0.2);

  animation: appear 0.2s ease-in-out;

  .logo {
    flex: 1 999 0%;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      width: fit-content;
      outline: none;

      &:focus-visible {
        filter: drop-shadow(1px 2px 2px #131313);
      }
    }

    img {
      filter: drop-shadow(1px 2px 2px #131313);
      margin-right: 5px;
      width: 40px;

      transition: 0.2s;

      &:hover {
        filter: drop-shadow(2px 2px 2px #131313);
      }
    }

    span {
      padding-bottom: 2px;
      text-decoration: none;
      color: whitesmoke;
      font-size: 22px;

      transition: 0.2s;

      &:hover {
        filter: drop-shadow(1px 2px 1px #131313);
      }
    }
  }
  .users_search_input_container {
    flex: 0 1 auto;
    position: relative;
    width: 220px;
    height: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 750px) {
      transition: 0.5s;
      animation: slideout 0.5s;

      @keyframes slideout {
        from {
          width: 0;
        }
        to {
          width: 220px;
        }
      }
    }

    span {
      position: absolute;
      left: 11px;
      top: 14px;

      svg {
        fill: grey;
        width: 13px;
      }
    }
  }

  .users_search_input {
    padding: 3px 10px 5px 26px;
    height: 33px;

    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: 0;

    font-size: 16px;
    font-weight: 400;

    transition: 0.2s;

    &:focus {
      box-shadow: 0 0 0 1px #505050;
    }
  }
}

@media (max-width: 750px) {
  .users_search_input:focus {
    border: darkgray;
  }
}

.header_navigation {
  flex: 1 999 0%;
  height: 40px;

  @media (max-width: 750px) {
    flex-grow: 0;
    margin-left: 16px;
  }

  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    margin-right: 16px;

    transition: 0.2s;

    outline: none;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(1px 2px 1px #131313);
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;

    outline: none;

    transition: 0.2s;

    &:focus-visible {
      filter: drop-shadow(1px 2px 1px #131313);
    }
  }

  .add_new_post_btn {
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 16px;

    &:focus-visible {
      filter: drop-shadow(1px 2px 1px #131313);
    }

    @media (max-width: 750px) {
      margin: 2px 13px 0 0;
    }

    svg {
      width: 28px;
      height: auto;

      fill: whitesmoke;
    }
  }

  .search_Btn {
    margin: 5px 13px 0 0;

    svg {
      height: 25px;
      fill: whitesmoke;
    }
  }

  .feed_btn {
    @media (max-width: 750px) {
      margin: 7px 12px 0 0;
    }
    #home_icon {
      fill: whitesmoke;
      width: 29px;
    }
  }

  .my_profile_btn {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;

    color: whitesmoke;
    text-decoration: none;

    @media (max-width: 750px) {
      margin: 7px 13px 0 0;
      padding: 0;
    }
  }

  .log_out_btn {
    transition: 0.2s;
    margin-top: 6px;

    &:hover,
    &:focus-visible {
      cursor: pointer;
      filter: drop-shadow(1px 2px 1px #131313);
    }

    @media (min-width: 825px) {
      margin-bottom: 2px;
    }

    svg {
      width: 28px;
      height: auto;

      fill: whitesmoke;
    }
  }
}

.avatar {
  border-radius: 50%;

  display: flex;
  overflow: hidden;

  transition: 0.2s;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &.big {
    height: 150px;
    width: 150px;
  }

  &.small {
    width: 32px;
    height: 32px;

    &:hover {
      box-shadow: 1px 1px 2px 2px rgba(51, 54, 56, 0.473);
    }
  }

  &.very_small {
    width: 24px;
    height: 24px;
  }
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 300px;
  height: 100vh;
  width: 100vw;

  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  animation: appear 0.2s ease-in-out;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal_container {
  margin: -50% 20px 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  background-color: white;
  border-radius: 5px;

  transition: 0.7s;

  animation: appearModal 0.8s ease-in;

  @keyframes appearModal {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  &.small {
    margin-top: 150px;
  }

  &.big {
    margin-top: 20px;
  }
}

.follow_btn,
.post_settings_btn {
  margin: 4px 16px;
  border-radius: 5px;

  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  transition: 0.2s;

  &.not_followed {
    img {
      filter: brightness(3);
    }
  }

  &.medium_btn {
    height: 35px;
    width: 100px;

    font-size: 14px;

    img {
      height: 29px;
      width: 100%;
    }
  }

  &.big_btn {
    height: 35px;
    width: 120px;

    font-size: 16px;
  }

  &.followed {
    color: #696969;
    border: 2px solid #888888;
    background: rgb(240, 240, 240);
  }

  &.small_btn {
    width: 95px;
    height: 30px;
    margin: 0;

    img {
      height: 25px;
      width: 100%;
    }
  }

  &:hover,
  &:focus-visible {
    filter: drop-shadow(1px 2px 2px #131313);
    cursor: pointer;
  }
}

.post_settings_btn {
  color: #696969;
  border: 2px solid #888888;
  background: rgb(240, 240, 240);
}

.settings_btn {
  margin: 4px 16px;

  height: 35px;
  width: 120px;
  border-radius: 5px;

  color: #696969;
  border: 2px solid #888888;

  outline: none;

  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &:hover,
  &:focus-visible {
    filter: drop-shadow(1px 2px 2px #131313);
    cursor: pointer;
  }

  transition: 0.2s;
}

.loading {
  img {
    opacity: 0;
  }
}
