*:before,
*:after,
* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}

input,
label,
button,
textarea {
  font-family: inherit;
}

h2,
h3 {
  text-align: center;
  font-weight: 600;
}

h2 {
  margin: 0;
  padding: 16px 0;
}

.scroll_hidden {
  overflow-y: hidden;
}

button {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  min-width: 400px;
  overflow-x: hidden;
}

.loading_big {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .loading_big {
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
    background-color: #fafafa;
  }
}
.loading_big img {
  height: 100px;
  width: 100px;
}

.main {
  width: max-content;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: #fafafa;
  animation: appear 0.2s ease-in-out;
}
.main .empty {
  margin: 80px 0;
  width: 250px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  animation: appear 0.2s ease-in-out;
}
@media (max-width: 600px) {
  .main .empty {
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
    border-radius: 0;
    border: none;
    padding: 80px 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main_header {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 98;
  padding: 0 30px 0 18px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #4d88ed;
  box-shadow: 0 2px 2px 0 rgba(127, 132, 135, 0.2);
  animation: appear 0.2s ease-in-out;
  user-select: none;
}
@media (max-width: 540px) {
  .main_header {
    justify-content: flex-end;
  }
}
.main_header .logo {
  flex: 1 999 0%;
  transition: 0.2s;
  animation: appear 0.2s ease-in-out;
}
.main_header .logo.hidden {
  display: none;
}
.main_header .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  outline: none;
}
.main_header .logo a:hover, .main_header .logo a:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
}
.main_header .logo img {
  filter: drop-shadow(1px 1px 1px #131313);
  margin-right: 5px;
  width: 40px;
}
.main_header .logo span {
  padding-bottom: 2px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
  transition: 0.2s;
}
.main_header .users_search_input_container {
  flex: 0 1 auto;
  position: relative;
  width: 220px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4px;
}
@media (max-width: 750px) {
  .main_header .users_search_input_container {
    transition: 0.5s;
    animation: appear 0.5s;
  }
}
@media (max-width: 540px) {
  .main_header .users_search_input_container {
    width: auto;
    animation: appear 0.5s;
  }
  .main_header .users_search_input_container .users_search_input {
    width: calc(100%);
  }
}
.main_header .users_search_input_container span {
  position: absolute;
  left: 9px;
  top: 15px;
}
.main_header .users_search_input_container span svg {
  fill: grey;
  width: 13px;
}
.main_header .users_search_input {
  padding: 3px 10px 5px 26px;
  height: 33px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.main_header .users_search_input:focus {
  box-shadow: 0 0 0 1px #505050;
}

@media (max-width: 750px) {
  .users_search_input:focus {
    border: darkgray;
  }
}
.header_navigation {
  flex: 1 999 0%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 750px) {
  .header_navigation {
    flex-grow: 0;
    margin-left: 16px;
  }
}
.header_navigation span {
  margin-right: 16px;
  transition: 0.2s;
  outline: none;
}
.header_navigation span:nth-last-of-type() {
  margin-right: 0;
}
.header_navigation span:hover, .header_navigation span:focus-visible {
  filter: drop-shadow(1px 2px 1px #131313);
  cursor: pointer;
}
.header_navigation a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
  outline: none;
  transition: 0.2s;
}
.header_navigation a:focus-visible {
  filter: drop-shadow(1px 2px 1px #131313);
}
.header_navigation .add_new_post_btn {
  display: flex;
  align-items: center;
  color: whitesmoke;
  margin-left: 16px;
}
.header_navigation .add_new_post_btn:focus-visible {
  filter: drop-shadow(1px 2px 1px #131313);
}
@media (max-width: 750px) {
  .header_navigation .add_new_post_btn {
    margin: 2px 13px 0 0;
  }
}
.header_navigation .add_new_post_btn svg {
  width: 28px;
  height: auto;
  fill: whitesmoke;
}
.header_navigation .search_Btn {
  margin: 5px 13px 0 0;
}
.header_navigation .search_Btn svg {
  height: 25px;
  fill: whitesmoke;
}
@media (max-width: 750px) {
  .header_navigation .feed_btn {
    margin: 7px 12px 0 0;
  }
}
.header_navigation .feed_btn #home_icon {
  fill: whitesmoke;
  width: 29px;
}
.header_navigation .my_profile_btn {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  color: whitesmoke;
  text-decoration: none;
}
@media (max-width: 750px) {
  .header_navigation .my_profile_btn {
    margin: 7px 13px 0 0;
    padding: 0;
  }
}
.header_navigation .log_out_btn {
  transition: 0.2s;
  margin-top: 6px;
  margin-right: 0;
}
.header_navigation .log_out_btn:hover, .header_navigation .log_out_btn:focus-visible {
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px #131313);
}
@media (min-width: 825px) {
  .header_navigation .log_out_btn {
    margin-bottom: 2px;
  }
}
.header_navigation .log_out_btn svg {
  width: 28px;
  height: auto;
  fill: whitesmoke;
}

.avatar {
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  transition: 0.2s;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar.big {
  height: 150px;
  width: 150px;
}
.avatar.small {
  width: 32px;
  height: 32px;
}
.avatar.small:hover {
  box-shadow: 1px 1px 2px 2px rgba(51, 54, 56, 0.473);
}
.avatar.very_small {
  width: 24px;
  height: 24px;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 300px;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}

.modal_container {
  margin: -50% 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 5px;
  transition: 0.7s;
  outline: 0;
  animation: appearModal 0.8s ease-in;
}
@keyframes appearModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .modal_container {
    border-radius: 0;
  }
}
.modal_container.link_left {
  margin-left: 50px;
}
@media (max-width: 600px) {
  .modal_container.link_left {
    margin-left: 30px;
  }
}
.modal_container.link_right {
  margin-right: 50px;
}
@media (max-width: 600px) {
  .modal_container.link_right {
    margin-right: 30px;
  }
}
.modal_container.small {
  margin-top: 150px;
  transition: 0.2s;
}
@media (max-width: 700px) {
  .modal_container.small {
    margin-top: 20px;
  }
}
.modal_container.big {
  margin-top: 40px;
  transition: 0.2s;
}
.modal_container .link_to_left,
.modal_container .link_to_right {
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
  z-index: -1;
}
@media (max-width: 600px) {
  .modal_container .link_to_left,
.modal_container .link_to_right {
    width: 40px;
  }
}
.modal_container .link_to_left a,
.modal_container .link_to_right a {
  width: calc(100% + 5px);
  height: 100%;
  outline: 0;
  opacity: 0.7;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.modal_container .link_to_left a:hover, .modal_container .link_to_left a:focus-visible,
.modal_container .link_to_right a:hover,
.modal_container .link_to_right a:focus-visible {
  cursor: pointer;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  filter: drop-shadow(1px 2px 1px #131313);
}
@media (max-width: 600px) {
  .modal_container .link_to_left a:hover, .modal_container .link_to_left a:focus-visible,
.modal_container .link_to_right a:hover,
.modal_container .link_to_right a:focus-visible {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.modal_container .link_to_left svg,
.modal_container .link_to_right svg {
  fill: whitesmoke;
}
.modal_container .link_to_left {
  left: -50px;
  padding-right: 10px;
}
.modal_container .link_to_left a {
  margin-right: -5px;
}
@media (max-width: 600px) {
  .modal_container .link_to_left {
    left: -30px;
  }
}
.modal_container .link_to_right {
  right: -50px;
  padding-left: 10px;
}
.modal_container .link_to_right a {
  margin-left: -5px;
}
@media (max-width: 600px) {
  .modal_container .link_to_right {
    right: -30px;
  }
}

.follow_btn,
.post_settings_btn {
  margin: 4px 16px;
  border-radius: 5px;
  border: 2px solid #4d88ed;
  color: whitesmoke;
  background: #4d88ed;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s;
}
.follow_btn.not_followed img,
.post_settings_btn.not_followed img {
  filter: brightness(3);
}
.follow_btn.medium_btn,
.post_settings_btn.medium_btn {
  height: 35px;
  width: 100px;
  font-size: 14px;
}
.follow_btn.medium_btn img,
.post_settings_btn.medium_btn img {
  height: 29px;
  width: 100%;
}
.follow_btn.big_btn,
.post_settings_btn.big_btn {
  height: 35px;
  width: 120px;
  font-size: 16px;
}
.follow_btn.followed,
.post_settings_btn.followed {
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}
.follow_btn.small_btn,
.post_settings_btn.small_btn {
  width: 95px;
  height: 30px;
  margin: 0;
}
.follow_btn.small_btn img,
.post_settings_btn.small_btn img {
  height: 25px;
  width: 100%;
}
.follow_btn:hover, .follow_btn:focus-visible,
.post_settings_btn:hover,
.post_settings_btn:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
  cursor: pointer;
}

.post_settings_btn {
  color: #696969;
  border: 2px solid #888888;
  background: #f0f0f0;
}

.settings_btn {
  margin: 4px 16px;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  color: #696969;
  border: 2px solid #888888;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s;
}
.settings_btn:hover, .settings_btn:focus-visible {
  filter: drop-shadow(1px 2px 2px #131313);
  cursor: pointer;
}

.loading img {
  opacity: 0;
}/*# sourceMappingURL=index.css.map */